<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            Welcome To My Page All About Wines!
        </h2>
    </main>

<%- include('../partials/footer'); %>